.content .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.content .trigger:hover {
  color: #1890ff;
}

.content .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.content .logo4 {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.content .logo5 {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.content .logo6 {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.site-layout .site-layout-background {
  background: #fff;
}